@font-face {
    font-family: 'CodeText';
    src: url("../Resource/Font/CodeNext-SemiBold.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
}

#content{
    height: 100%;
    width: 100%;
    display: flex;
}
    #content_leftInner{
        background: rgba(70, 70, 70, 0.5);
        backdrop-filter: blur(10px);
        height: 100%;
        width: 20%;
        padding: 2%;
        display: flex;
        flex-direction: column;
    }
        .content_leftInner_list{
            border-radius: 10px;
            background: rgba(58, 58, 58, 0.5);
            height: 8%;
            width: 100%;
            margin:6px 0;
            transition: 0.5s;
        }
        .content_leftInner_list:hover{
            background: rgba(105, 105, 105, 0.5);
            transition: 0.5s;
        }
        .content_leftInner_listHiddenBackground{
            height: auto;
            width: 100%;
            margin:6px 0;
        }
            .content_leftInner_list_titleFont{
                font-size: 32px;
                font-family: CodeText;
                color: white;
            }
    #content_rightInner{
        background: #212121;
        height: 100%;
        width: 80%
    }
        #content_rightInner_iframeForContent{
            height:100%;
            width: 100%;
            border: none;
        }

#a{
    position: fixed;
    z-index: -10;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: blur(20px);
    background: linear-gradient(15deg,#18391e, #368144);
    transition: 0.1s;
    transform: translate(var(--x),var(--y));
}