

#Intro_Content{
    width: 100%;
    height: 100%;
    background: #212121;
}

#Intro_Content_Title{
    width: 100%;
    height: 100%;

}

#Intro_Content_2{
    padding: 20px;
    width: 100%;
    height: auto;
    background: rgb(44, 103, 35);
}

